
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /styles/{styleId} {
      allow read, write: if true;
    }
    match /styles_master/{styleId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
